.header {
    color: #caf0f8;
    font-size: 3rem;
}

.mainContainer {
    height: 100vh;
}

.wrapper {
    display: flex;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    transition: all 0.6s ease;
    position: relative;
}

.selectedCard::after {
    content: '✅';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20px;
}

.card:hover:not(.card.selectedCard) {
    scale: 1.02;
}

.imageStyle {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imageWrapper {
    width: 150px;
}

.text {
    font-size: 1rem;
}

.button {
    color: #caf0f8;
    font-size: 2rem;
    font-family: Silkscreen;
    background: #03045e;
    border-style: none;
    border-radius: 10px;
    width: 40%;
    padding: 10px;
}

.info {
    font-size: 1rem;
    color: white;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.border {
    height: 100vh;
    border-left: 1px solid black;
    width: 1px;
}